/* 

text 

- heading - font-family: 'Lora', serif;
- text - font-family: "Inter", sans-serif;
- color - #f3f4f6;

color

- background color #1b1e28;
- btn accent color #1bb896
- text accent color #50e9c8
- card color #1f2937
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1b1e28;
  color: #f3f4f6;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

header {
  padding: 4.2rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #f3f4f6;
  padding: 1.6rem;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  color: #50e9c8;
}
