* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #0d1117;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1.6rem;
}

.logo {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -3px;
  color: #eb3a64;
}
.nav-items {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.links:link,
.links:visited {
  text-decoration: none;
  color: #ccc;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  color: #eb3a64;
}

/*
General
*/

.mr-5 {
  margin-right: 5px;
}

.sec-gap {
  margin-top: 3.2rem;
}

/*
Hero
*/

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  /* height: 70vh; */
  align-items: center;
}

.hero-otg {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-img-holder {
  display: flex;
  justify-content: center;
}

.hero-img {
  height: 120px;
  width: 120px;
}

.social-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* justify-content: center; */
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.btn:link,
.btn:visited {
  padding: 0.8rem 1.6rem;
  border: 1px solid #eb3a64;
  border-radius: 5px;
  color: #aeaeae;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero-text-box {
  /* align-items: center; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.hero-title {
  font-size: 4.2rem;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-transform: uppercase;
  color: #eb3a64;
}

.hero-subtitle {
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: 1.8rem;
  color: #bbb;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #bbb;
  line-height: 2.4rem;
}

.description-holder {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/*
Media
*/

@media (max-width: 680px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
