/* 

text 

- heading - font-family: 'Lora', serif;
- text - font-family: "Inter", sans-serif;
- color - #f3f4f6;

color

- background color #1b1e28;
- btn accent color #1bb896
- text accent color #50e9c8
- hover color #0e876d
- description text #d1d5db
- card color #1f2937

*/

/*
Global
*/

.pt-34 {
  padding-top: 4.2rem;
}

.section-title {
  font-family: "Lora", serif;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

.section-gap {
  padding-top: 6.4rem;
}

/*
CSS
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1b1e28;
  color: #f3f4f6;
}

.container {
  width: 80em;
  margin: 0 auto;
  /* padding: 0 1.6rem; */
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

header {
  padding: 4.2rem 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #f3f4f6;
  padding: 1.2rem;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  color: #50e9c8;
}

/*
Hero Image
*/

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  /* align-items: center; */
}

.hero-img-box {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 220px;
  height: 220px;
}

/* hero-texts */
.hero-title {
  font-family: "Lora", serif;
  font-size: 3.2rem;
}

.hero-description {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  /* letter-spacing: 1.2px; */
  line-height: 1.8;
  color: #d1d5db;
}

.highlighted-text {
  color: #50e9c8;
}

/*
Social links
*/

.social-links {
  margin-top: 1.8rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.icon-link:link,
.icon-link:visited {
  text-decoration: none;
  transition: all 0.3s;
}

.social-icons {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

.icon-link svg path {
  fill: #d1d5db;
}

.icon-link:hover svg path {
  fill: #0e876d;
}

/* techstack cards */

.tech-stack-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background-color: #1f2937;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-title {
  font-family: "Lora", serif;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.12rem;
}

.card-description {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  color: #d1d5db;
}

.tech-stack-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tech-logo {
  width: auto;
  height: 25px;
}

/* BLOG */

.blog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  border-top: 0.02px solid rgba(156, 163, 175, 0.308);
  padding: 4.2rem 0;
}

.blog-timedate {
  font-size: 1.8rem;
  padding-top: 0.8rem;
  color: #9ca3af;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.blog-title {
  font-family: "Lora", serif;
  font-size: 2.8rem;
  letter-spacing: 0.5px;
}

.blog-title-link:link,
.blog-title-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.blog-title-link:hover,
.blog-title-link:active {
  color: #0e876d;
}

.blog-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #d1d5db;
}

.blog-link:link,
.blog-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #50e9c8;
  text-transform: uppercase;
  transition: all 0.3s;
}

.blog-link:hover,
.blog-link:active {
  color: #0e876d;
}

/* footer */

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 5.6rem 0;
}

.footer-texts {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-texts p {
  font-size: 1.8rem;
}

@media (max-width: 50em) {
  .hero,
  .tech-stack-cards,
  .blog {
    grid-template-columns: 1fr;
  }
}
