/*  toggle button */

.btn-theme-change {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
}

.icon-theme-change {
  height: 2.4rem;
  width: 2.4rem;
}

.icon-theme-change[name="moon"] {
  display: none;
}

.icon-theme-change[name="sunny"] {
  /* color: #f3f4f6; */
  color: var(--text-primary);
}

:root[data-theme="theme-light"] .icon-theme-change[name="moon"] {
  display: block;
}

:root[data-theme="theme-light"] .icon-theme-change[name="sunny"] {
  display: none;
}

/* //////////////////////////////// */
/*  general style */

/* .light-mode {
  background-color: #f3f4f6;
  color: #111827;
} */

/*  paragraphs */

/* .light-mode p {
  color: #4b5563;
} */

/* cards */
/* 
.light-mode .card {
  background-color: #e9ebef;
} */

/* social icons */
/* 
.light-mode .icon-link svg path {
  fill: #374151;
}

.light-mode .icon-link:hover svg path {
  fill: #0e876d;
} */

/* navbar */
/* 
.light-mode .header {
  background-color: rgba(243, 244, 246, 0.4);
}

.light-mode .nav-scroll {
  border-bottom: 0.05px solid rgba(0, 0, 0, 0.07);
}

.light-mode .nav-links:link,
.light-mode .nav-links:visited {
  color: #111827;
} */

/* all links */
/* 
.light-mode .link:link,
.light-mode .link:visited,
.light-mode .highlighted-text,
.icon-mobile-nav {
  color: #1bb896;
}

.light-mode .title-link:link,
.light-mode .title-link:visited {
  color: #111827;
}

.light-mode .nav-links:hover,
.light-mode .nav-links:active,
.light-mode .link:hover,
.light-mode .link:active {
  color: #0e876d;
}

@media (max-width: 59em) {
  .light-mode .navbar {
    background-color: #f3f4f6;
  }
} */
