/* 

text 

- heading - font-family: 'Lora', serif;
- text - font-family: "Inter", sans-serif;
- color - #f3f4f6;

color

- background color #1b1e28;
- btn accent color #1bb896
- text accent color #50e9c8
- hover color #0e876d
- description text #d1d5db
- card color #1f2937

*/

/*
CSS
*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 8rem; */
  padding: 3.2rem 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  background-color: rgba(27, 30, 40, 0.4);
  /* border-bottom: 0.02px solid rgba(255, 255, 255, 0.03); */
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); */
}

.nav-scroll {
  padding: 2.4rem 0;
  border-bottom: 0.05px solid rgba(255, 255, 255, 0.07);
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #f3f4f6;
  padding: 1.2rem;
  transition: all 0.3s;
}

.nav-links:hover,
.nav-links:active {
  color: #50e9c8;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #50e9c8;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*
Hero Image
*/

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.hero-img-box {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 220px;
  height: 220px;
}

/* hero-texts */
.hero-title {
  font-family: "Lora", serif;
  font-size: 3.2rem;
}

.hero-description {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #d1d5db;
}

.highlighted-text {
  color: #50e9c8;
}

/*
Social links
*/

.social-links {
  margin-top: 1.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.icon-link:link,
.icon-link:visited {
  text-decoration: none;
  transition: all 0.3s;
}

.social-icons {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

.icon-link svg path {
  fill: #d1d5db;
}

.icon-link:hover svg path {
  fill: #0e876d;
}

/* techstack cards */

.tech-stack-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  background-color: #1f2937;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-title {
  font-family: "Lora", serif;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.12rem;
}

.card-description {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  color: #d1d5db;
}

.tech-stack-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tech-logo {
  width: auto;
  height: 25px;
}

/* Research & Publication */

.publication-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 2rem;
  border-left: 2px solid #0e876d;
  position: relative;
}

/* .publication-item {
  padding: 0 0 2rem 2rem;
} */

.publication-item::before {
  content: "";
  position: absolute;
  left: -11px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #1f2937;
  border: 2px solid #0e876d;
}

.publication-title {
  color: #9ca3af;
}
/* Projects */

.card-stack {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.card-project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  /* card difference */
  /* border: 0.02px solid rgba(156, 163, 175, 0.308); */
  border: 0.02px solid #1f2937;
  border-radius: 5px;
  padding: 2.4rem;
  transition: 0.3s all;
}

.card-project:hover {
  border: 0.02px dotted #0e876d;
}

.thumbnails {
  width: 100%;
  height: 100%;
  border: 0.02px solid #1f2937;
  border-radius: 5px;
}

.card-project-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-page-link-box {
  display: flex;
  justify-content: center;
  padding: 2.4rem;
}

/* BLOG */

.blog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  /* border-top: 0.02px solid rgba(156, 163, 175, 0.308); */
  border-top: 2px solid #1f2937;
  padding: 4.2rem 0;
}

.blog-timedate {
  font-size: 1.8rem;
  padding-top: 0.8rem;
  color: #9ca3af;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* footer */

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 5.6rem 0;
}

.footer-texts {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.footer-texts p {
  font-size: 1.8rem;
}

@media (max-width: 59em) {
  /* html {
    font-size: 50%;
  } */
  .hero,
  .tech-stack-cards,
  .blog,
  .card-project {
    grid-template-columns: 1fr;
  }

  .first-section-margin {
    margin-top: 3.2rem;
  }

  .header {
    padding: 0.8rem 0;
  }
  /* MOBILE Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .navbar {
    background-color: #1b1e28;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* HIDE THE NAVIGATION */
    /* Allows no transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make is unaccesible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-items {
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  /* btn-theme-change */

  .nav-links:link,
  .nav-links:visited {
    font-size: 3rem;
  }
}
